.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
inst/extdata/delNero2022
inst/extdata/tiger_2020
inst/extdata/A.xlsx
inst/extdata/B.xlsx
inst/extdata/C.xlsx
CensusHLA.Rproj
data/nmdp_hla_frequencies_by_race.rda
data/census_adjusted_nmdp_hla_frequencies_by_state.rda
data/census_adjusted_nmdp_hla_frequencies_by_county.rda
data/nmdp_hla_frequencies_us_2020_census_adjusted.rda
data/census_adjusted_nmdp_hla_frequencies_by_us.rda
data/us_pop_multirace_in_nmdp_codes.rda
00check.log
/doc/
/Meta/
/.quarto/
docs
